<div
  class="model-body d-flex flex-column align-items-center"
  *ngIf="carts.length === 0"
>
  <p class="mt-3 mx-6 pt-5 mt-5">Oops! Your cart is Empty!</p>
  <img
    src="https://cdn.dribbble.com/users/599231/screenshots/2022703/shopping_cart.gif"
  />
  <br />
  <a routerLink="/"
    ><button class="btn btn-1 mb-3" style="background-color: cadetblue">
      Continue Shopping
    </button></a>
</div>
<div class="vh-100 pt-5 mt-5" style="background-color: #fdccbc">
  <div class="container h-100" *ngIf="carts.length !== 0">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <p>
          <span class="h2">Shopping Cart </span>
        </p>

        <div class="card mb-4">
          <div
            class="card-body p-4 justify-content-center"
            *ngFor="let cart of carts"
          >
            <div class="row align-items-center justify-content-around">
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">{{ cart.title }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Image</p>
                  <img
                    src="{{
                      'http://localhost:8080/api/downloadFile/' +
                        cart.medicineId
                    }}"
                    alt=""
                    style="height: 50px; width: 40px"
                  />
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">
                    Quantity
                  </p>
                  <button
                    class="btn"
                    style="width: 10px; margin-bottom: 12px"
                    (click)="decrementCount(cart)"
                  >
                    <i class="fa fa-minus"></i>
                  </button>
                  <span class="mx-2 my-0" style="margin-bottom: 12px">
                    {{ cart.count }}</span
                  >
                  <button
                    class="btn mx-0"
                    style="width: 10px; margin-bottom: 12px"
                    (click)="increamentCount(cart)"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">
                    ₹
                    {{ cart.price! * cart.count }}
                  </p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Action</p>
                  <button
                    class="btn w-50"
                    (click)="onDelete(cart.id, cart.medicineId)"
                  >
                    <i class="fa-solid fa-trash" style="color: black"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ==============================================
	    Credit Card Payment Section
	    =============================================== -->
        <section class="credit-card h-25">
          <div class="container">
            <div class="card-holder">
              <div class="card-box bg-news">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="img-box">
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar7.png"
                        class="img-fluid"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <form>
                      <div class="card-details">
                        <h3 class="title">Credit Card Details</h3>
                        <div class="row">
                          <div class="form-group col-sm-7">
                            <div class="inner-addon right-addon">
                              <label for="card-holder">Card Holder</label>
                              <i class="far fa-user"></i>
                              <input
                                id="card-holder"
                                type="text"
                                class="form-control"
                                name="cardHolderName"
                                placeholder="Card Holder"
                                minlength="4"
                                ngModel
                                #modelCardHolderName="ngModel"
                                pattern="[A-Z][a-zA-Z '.-]*[A-Za-z][^-]$"
                                [ngClass]="
                                  modelCardHolderName.touched &&
                                  modelCardHolderName.invalid
                                    ? 'is-invalid'
                                    : ''
                                "
                              />
                              <div
                                *ngIf="
                                  modelCardHolderName.invalid &&
                                  modelCardHolderName.dirty
                                "
                                class="invalid-feedback"
                              >
                                Please provide first letter as captial
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-sm-5">
                            <label for="">Expiration Date</label>
                            <div class="input-group expiration-date">
                              <input
                                type="text"
                                class="form-control"
                                name="ExpiryDate"
                                placeholder="MM"
                                placeholder="MM/YY"
                                required
                                ngModel
                                pattern="(0[1-9]|1[0-2])\/[0-9]{2}$"
                                #modelExpiryDate="ngModel"
                                [ngClass]="
                                  modelExpiryDate.invalid &&
                                  modelExpiryDate.dirty ? 'is-invalid' : '' "/>
                              <div
                                *ngIf="modelExpiryDate.invalid"
                                class="invalid-feedback">
                                Please enter a valid expiry date in MM/YY
                                format.
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-sm-8">
                            <div class="inner-addon right-addon">
                              <label for="card-number">Card Number</label>
                              <i class="far fa-credit-card"></i>
                              <input
                                id="card-number"
                                type="text"
                                class="form-control"
                                name="cardNumber"
                                placeholder="1234 1234 1234 1234"
                                ngModel
                                required
                                pattern="[0-9]{16}$"
                                #modelCardNumber="ngModel"
                                [ngClass]="
                                  modelCardNumber.invalid &&
                                  modelCardNumber.dirty
                                    ? 'is-invalid'
                                    : ''
                                "
                              />
                              <div
                                *ngIf="modelCardNumber.invalid"
                                class="invalid-feedback"
                              >
                                Please enter a valid 16-digit card number.
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-sm-4">
                            <label for="cvc">CVC</label>
                            <input
                              id="cvc"
                              type="text"
                              class="form-control"
                              name="cvc"
                              placeholder="***"
                              required
                              ngModel
                              pattern="[0-9]{3}$"
                              #modelCVC="ngModel"
                              [ngClass]="
                                modelCVC.invalid && modelCVC.dirty
                                  ? 'is-invalid'
                                  : ''
                              "
                            />
                            <div
                              *ngIf="modelCVC.invalid"
                              class="invalid-feedback"
                            >
                              Please enter a valid 3-digit CVC code.
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-lg-1 pt-5">
                    <div class="text-end">
                      <p>Subtotal:₹{{ calculateTotalValue() }}</p>
                      <p>GST : ₹50</p>
                      <h3>Total:₹{{ calculateGST() }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-info btn-lg" routerLink="/">
            Continue Shopping
          </button>
          <button
            type="button"
            class="btn btn-dark btn-lg"
            routerLink="/order"
            (click)="checkOut()"
            
          >
            Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>