<div class="wrapper" style="background-image: url('https://wallpapercave.com/wp/wp8167079.jpg'); background-size: cover; background-position: center; padding-top: 20px;">
  <nav class="nav">
    <div class="nav-logo">
      <p>Pharma</p>
    </div>
    <div class="nav-button">
      <button class="btn white-btn" routerLink="/login" id="loginBtn">Sign In</button>
      <button class="btn" routerLink="/register" id="registerBtn">Sign Up</button>
    </div>
    <div class="nav-menu-btn">
      <i class="bx bx-menu"></i>
    </div>
  </nav>
  
  <!-- Register Start -->
  <div class="form-box">
    <div class="register-container" id="register">
      <div class="top">
        <span>Have an account? <a routerLink="/login">Login</a></span>
        <header>Sign Up</header>
      </div>
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <div class="two-forms">
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Username"
              [(ngModel)]="user.username"
              name="username"
              required
              minlength="5"
          #modelUsername="ngModel"
          [ngClass]="modelUsername.touched && modelUsername.invalid ? 'is-invalid' : ''"
        />
        <i class="bx bx-user"></i>
        <div *ngIf="modelUsername.invalid && modelUsername.touched" class="invalid-feedback">
          Username should contain at least 5 characters.
        </div>
          </div>
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Name"
              [(ngModel)]="user.name"
              name="name"
              required
              minlength="3"
              #modelName="ngModel"
              [ngClass]="modelName.touched && modelName.invalid ? 'is-invalid' : ''"
            />
            <i class="bx bx-user"></i>
            <div *ngIf="modelName.invalid && modelName.touched" class="invalid-feedback">
              Name should have atleast 3 characters.
            </div>
          </div>
        </div>
        <div class="input-box">
          <input
            type="password"
            class="input-field"
            placeholder="Password"
            [(ngModel)]="user.password"
            name="password"
            required
            minlength="8"
            #modelPassword="ngModel"
            [ngClass]="modelPassword.invalid && modelPassword.touched ? 'is-invalid' : ''"
          />
          <i class="bx bx-envelope"></i>
          <div *ngIf="modelPassword.invalid && modelPassword.touched" class="invalid-feedback">
            Password is required and should contain at least 8 characters.
          </div>
        </div>
        <div class="input-box">
          <input
            type="password"
            class="input-field"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
            minlength="8"
            #modelConfirmPassword="ngModel"
            [ngClass]="modelConfirmPassword.invalid && modelConfirmPassword.touched ? 'is-invalid' : ''"
          />
          <i class="bx bx-lock-alt"></i>
          <div *ngIf="modelConfirmPassword.invalid && modelConfirmPassword.touched" class="invalid-feedback">
            Passwords and Confirm Password must be the same.
          </div>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
          <button
            type="submit"
            class="btn btn-primary btn-lg input-field"
            style="padding-left: 2.5rem; padding-right: 2.5rem">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
   <!-- Register Ended -->
</div>
