<div class="wrapper" style="background-image: url('https://wallpapercave.com/wp/wp8167079.jpg'); background-size: cover; background-position: center; padding: 100px;">
  <nav class="nav">
    <div class="nav-logo">
      <p>Pharma</p>
    </div>
    <div class="nav-button">
      <button class="btn white-btn" id="loginBtn">Sign In</button>
      <button class="btn" routerLink="/register" id="registerBtn">Sign Up</button>
    </div>
    <div class="nav-menu-btn">
      <i class="bx bx-menu"></i>
    </div>
  </nav>

  <!-- Login Start -->
  <div class="form-box">
    <div class="login-container" id="login">
      <div class="top">
        <span>Don't have an account? <a routerLink="/register">Sign Up</a></span>
        <header>Login</header>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <!-- Username input -->
          <div class="input-box" style="margin-bottom: 20px;">
            <input
              type="text"
              class="input-field"
              name="username"
              placeholder="Username or Email"
              [(ngModel)]="username"
              required
              minlength="4"
              #modelUsername="ngModel"
              [ngClass]="(modelUsername.invalid && modelUsername.touched) ? 'is-invalid' : ''"
            />
            <i class="bx bx-user"></i>
            <div *ngIf="modelUsername.invalid && modelUsername.touched" class="invalid-feedback">
              Username does not match the valid characters.
            </div>
          </div>
          <!-- Password input -->
          <div class="input-box" style="margin-bottom: 20px;">
            <input
              type="password"
              class="input-field"
              name="password"
              placeholder="Password"
              [(ngModel)]="password"
              required
              minlength="4"
              #modelPassword="ngModel"
              [ngClass]="(modelPassword.invalid && modelPassword.touched) ? 'is-invalid' : ''"
            />
            <i class="bx bx-lock-alt"></i>
            <div *ngIf="modelPassword.invalid && modelPassword.touched" class="invalid-feedback">
              Password does not match the valid requirements. 
            </div>
          </div>
          <!-- Submit button -->
          <div class="input-box">
            <button type="submit" class="submit" [disabled]="loginForm.invalid">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
      <!-- Login Ended -->
    </div>
