<div class="min-vh-100">
<div class="row">
  <div class="col-6">
    <p>User</p>
    <table class="table table-bordered table-hover" style="border-collapse: collapse; width: 100%;">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="border: 2px solid #000; padding: 8px;">Id</th>
          <th scope="col" style="border: 2px solid #000; padding: 8px;">Name</th>
          <th scope="col" style="border: 2px solid #000; padding: 8px;">Username</th>
          <th scope="col" style="border: 2px solid #000; padding: 8px;">Joined Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userDetails" (click)="setSelectedUser(user)"
            [ngClass]="{ 'table-primary': user.id === userDetail.id }"
            style="border: 2px solid #000;">
          <td scope="row" style="border: 2px solid #000; padding: 8px;">{{ user.id }}</td>
          <td style="border: 2px solid #000; padding: 8px;">{{ user.name }}</td>
          <td style="border: 2px solid #000; padding: 8px;">{{ user.username }}</td>
          <td style="border: 2px solid #000; padding: 8px;">{{ user.joinedAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <p style="font-weight: bold; margin-bottom: 15px;">Address</p>
    <div *ngFor="let address of userDetail.addressList" style="padding: 15px; border-radius: 6px;">
      <div style="background-color: rgb(146, 193, 214); border: 1px solid rgb(153, 153, 153); padding: 10px; margin-bottom: 2px; border-radius: 6px;">
        <p style="margin-bottom: 5px;"><strong>Address:</strong> {{ address.address }}</p>
        <p style="margin-bottom: 5px;"><strong>City:</strong> {{ address.city }}</p>
        <p style="margin-bottom: 5px;"><strong>Pincode:</strong> {{ address.zipcode }}</p>
      </div>
    </div>
  </div>
</div>