<div class="min-vh-100">
  <div class="container mt-5">
    <h1 class="text-center mb-4">Pharmacy Categories</h1>

    <!-- Category Form -->
    <form
      #categoryForm="ngForm"
      (ngSubmit)="onSubmit(categoryForm)"
      novalidate
      class="d-flex"
    >
      <div class="me-3 flex-grow-1">
        <input
          type="text"
          class="form-control"
          placeholder="Enter category name"
          name="title"
          [(ngModel)]="categoryModel.title"
        />
      </div>
      <div class="me-3">
        <button class="btn btn-primary" style="color: black; background-color: rgb(95, 198, 226);">Add</button>
      </div>
    </form>

        <div class="row text-center  p-3">
          <div class="col-xl-3 col-sm-6 mb-5" *ngFor="let category of categories">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <h5 class="mb-0">Category No:{{category.id}}</h5><span class="small text-uppercase text-muted">{{category.title}}</span>
                <ul class="social mb-0 list-inline mt-3">
                </ul>
            <button
              type="button"
              class="btn btn-outline-success mx-3"
              type="button"
              (click)="onEdit(category)"
            >
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              type="button"
              (click)="onDelete(category.id)"
            >
            <i class="fa-regular fa-trash-can"></i>
            </button>
          </div>
        </div>
  </div>
</div>