  <section class="h-100 gradient-custom">
    <div class="container px-10 py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0">Thanks for your Order!</h5>
            </div>
            <div class="card-body p-4" *ngFor="let item of orderDetails">
              <div class="card shadow-0 border mb-4" *ngFor="let medicine of item.orderedMedicineList">
                <div class="card-body">
                  <div class="row justify-content-around">
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">ID:{{ item.id }}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Products:{{ medicine.title }}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Quantity:{{ medicine.count }}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Price:₹{{ medicine.price * medicine.count }}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center" style="color: brown;">
                      <p class="text-muted mb-0 small">Status : Pending</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer border-0 px-4 py-5"
              style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>