@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

:root {
  --primary-50: #aed9e3;
  --primary-100: #aed9e3;
  --primary-300: #9eceda;
  --primary-500: #8fc5d2;
  --primary-600: #7fbccb;
  --primary-700: #6ea6b4;
  --primary-900: #568c99;
  --secondary-100: #c8a1c5;
  --secondary-500: #bb8bb8;
  --secondary-900: #bc74b7;
  --blue-100: #aed9e3;
  --blue-300: #9eceda;
  --blue-500: #8fc5d2;
  --blue-700: #6ea6b4;
  --pink-300: #d7a5d3;
  --pink-500: #b581b1;
  --pink-700: #a96ea5;
  --border-radius: 4px;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: var(--primary-50);
}

/* text */
.text-primary {
  color: var(--primary-500) !important;
}

/* background */
.bg-primary {
  background-color: var(--primary-600) !important;
}

/* button */
.btn {
  border-radius: var(--border-radius);
}

.btn-primary {
  color: var(--secondary-100);
  background: var(--primary-500);
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: var(--secondary-100);
  background: var(--primary-600) !important;
  border: none;
}

.btn-danger {
  color: var(--secondary-100);
  background: var(--blue-500);
  border: none;
}

.btn-danger:hover {
  color: var(--secondary-100);
  background: var(--blue-700);
  border: none;
}

.btn-success {
  color: var(--secondary-100);
  background: var(--pink-500);
  border: none;
}

.btn-success:hover {
  color: var(--secondary-100);
  background: var(--pink-700);
  border: none;
}

/* form */
.form-control,
.form-control:focus {
  color: var(--primary-500);
  background-color: var(--bs-body-bg);
  border-color: var(--primary-500);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--primary-300);
}

.form-label {
  color: var(--primary-500);
}

.border {
  border-right-color: var(--primary-300) !important;
}


/* Custom */
.error {
  background-color: var(--blue-100);
  margin: 8px 0px;
  padding: 2px 6px;
  display: block;
  color: var(--blue-700);
  border-radius: var(--border-radius);
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.sideBarActive,
.sideBarActive > a,
.sideBarActive > a:hover,
.sideBarActive > a:active {
  color: var(--primary-500);
  background-color:pink;
  padding: 8px;
}

.sideBarItem,
.sideBarItem > a {
  color: white;
  padding: 8px;
}

.sideBarItem > a:hover {
  color: black;
}

.sideBarActive > .fa-solid {
  color: var(--primary-500);
}

.sideBarItem:hover {
  color: var(--primary-500);
  background-color: gray;
  padding: 8px;
}

/* Icon */
.fa-solid {
  color: white;
}

.loader {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0.5;
  background-color: #000;
  z-index: 99;
  left: 0;
  top: 0;
}

.lottie-loader {
  width: 150px !important;
  height: 150px !important;
  position: absolute;
  top: 40%;
  left: 45%;
}
